body { color: Black; background-color: White; margin: 0; font-family: 'Arial', sans-serif; line-height:1.3; }
h1 { margin-block: 8px; }
h1, h2, h3, summary { font-family: 'Roboto Slab', serif; }
header { display: grid; grid-template-columns: 1fr min-content; column-gap: 8px; margin-block-start: 16px; border-bottom: 1px solid Black; padding-inline: 16px; }
section, main, footer { padding-inline: 128px; }
footer { margin-block-start: 16px; border-top: 1px solid; }
.external-nav { display: flex; align-items: center; column-gap: 32px; }
.external-nav a img { height: 40px; }
.internal-nav { display: flex; align-items: center; margin-block: 8px; column-gap: 16px; }

summary { font-size: 24px; margin-bottom: 4px; border-bottom: 1px solid #000; }

table { display: grid; grid-template-columns: minmax(120px,9fr) minmax(120px,1fr) minmax(120px,10fr); margin-bottom: 16px; }
thead,tbody,tr { display: contents; }
th { position: sticky; top: 0; background: #DDD; text-align: left; padding: 8px 2px; }
td { padding-block: 6px; }
td:last-child { padding-bottom: 4px; }
tr:nth-child(even) td { background: #EEE; }

.mono { font-size: 0.9em; font-family: monospace, monospace; background-color: #EEE; padding: 2px 4px; border-radius: 4px; }
code div { overflow: auto; max-width: 720px; border: solid gray; border-width: 2px 2px 2px 12px; padding: .2em .6em; line-height: 1.25em; }

p { color: #222; }
a:visited, .s { color: #639; }
.u { color: Black; }
.c { color: DarkSeaGreen; font-style: italic; }
.z { color: #AAA; }

@media (prefers-color-scheme: dark) {
  body { color: White; background-color: #222; }
  header, footer { border-color: White; }
  a { color: SkyBlue; }

  summary { border-bottom: 1px solid #555; }

  tr:nth-child(even) td { background: #333; }
  th { background: #444; }

  .mono { background-color: #444; }

  p { color: #DDD; }
  a:visited, .s { color: #a7d; }
  .u { color: White; }
  .z { color: #666; }
}

@media (max-width: 992px) {
  section, main, footer { padding-inline: 16px; }
}

@media (max-width: 576px) {
  header { grid-template-columns: 1fr; }
  section, main, footer { padding-inline: 8px; }

  table { grid-template-columns: 1fr; }
  td { padding-block: 1px; }
  thead, td:nth-child(2) { display: none; }
}