aiohttp==3.8.5
aiohttp-s3-client==0.9.3
aiomisc==17.3.21
aiosignal==1.3.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
aws-request-signer==1.2.0
charset-normalizer==3.2.0
colorlog==6.7.0
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
smart-open==6.3.0
urllib3==1.26.16
yarl==1.9.2
